@model IEnumerable<Despegar.Models.Cuartos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeCuarto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDeCuarto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel)
                </td>
                <td>
                    @Html.ActionLink("Reservar",
               "Create",
               "Reservas",
               new { id = item.Id, hotel= item.Hotel},
               new { @class = "btn btn-primary"})
                </td>
            </tr>
        }
    </tbody>
</table>

